certifi==2020.6.20
cffi @ file:///D:/bld/cffi_1595805752074/work
click==7.1.2
cryptography @ file:///D:/bld/cryptography_1598621312416/work
dnspython @ file:///home/conda/feedstock_root/build_artifacts/dnspython_1599005870470/work
Flask==1.1.2
Flask-PyMongo==2.3.0
gunicorn==20.0.4
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1593328102638/work
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1593275161868/work
pymongo==3.11.0
six @ file:///home/conda/feedstock_root/build_artifacts/six_1590081179328/work
Werkzeug==1.0.1
wincertstore==0.2
